.uno-player-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 3, 0, 0, 0);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(0, 0, 0, 0.5);
}


.uno-player-label.current-player {
    -fx-background-color: rgba(0, 128, 255, 0.7);
}


.uno-player-label.ai-player {
    -fx-background-color: red;
}

.corner-number-large {
    -fx-font-size: 22px !important;
}


.turn-arrow {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0.8, 0, 0);
    -fx-opacity: 1.0 !important;
    -fx-visibility: visible !important;
}


.direction-indicator {
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}

.direction-arrow {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0.8, 0, 0);
    -fx-opacity: 1.0 !important;
    -fx-visibility: visible !important;
}


ImageView.turn-arrow {
    -fx-opacity: 1.0 !important;
    -fx-visibility: visible !important;
}